/*
 * Default stylesheet file.
 */

.mainFxmlClass {
    -fx-font: 14px "Sans Serif";
}

.label {
    -fx-font: italic "Sans Serif";
    -fx-text-fill: #FF00FF;
}

.button {
    -fx-text-fill: #FF1493;
    -fx-background-color: #CCFFCC;
    -fx-border-color: #1E90FF;
    -fx-border-radius: 6;
    -fx-padding: 2 8 2 8;
}

