/*
 * Default stylesheet file.
 */

.mainFxmlClass {
    -fx-font: 14px "Comic Sans MS";
}

.label {
    -fx-font: italic "Comic Sans MS";
    -fx-text-fill: aquamarine;
}

.button {
    -fx-text-fill: gray;
    -fx-background-color: orange;
    -fx-border-color: aquamarine;
    -fx-border-radius: 3;
    -fx-padding: 4 8 4 8;
}

